/* --------- Global Styles */
:root {
  --primary-color: #1da1f2;
  --dark-color: #14171a;
  --light-color: #e1e8ed;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Century Gothic","Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  background-image: url(./img/saw.jpg);
  color: #333;
}
a {
  text-decoration: none;
}

ul {list-style: none;}
img {width: 100%}

/* ----------- Navbar */
.navbar {
  display: flex;
  align-items: center;
  color: white;
  padding: 0.7rem 2rem;
  border-bottom: solid 1px var(--primary-color);
  position: relative;
  background-color: rgb(0,0,0, 0.4);
  /* opacity: 0.9; */
}

.navbar h1 {
  display: inline-block;
  max-width: 30%;
}

.navbar ul {
  display: flex;
  margin: auto;
  margin-right: 0;
  max-width: 50%;
}


.navbar a {
  color: inherit;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
 color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

@media (max-width: 700px) { /* on mobile */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul, .navbar h1  {
    display: flex;
    padding: auto;
    margin: auto;
  }

  .navbar .welcome {
    display: none;
  }
}


/* --------- container */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------- about */
.about {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 120%;
  margin-top: 5em;
  padding: 2rem;
  max-width: 80%;
  /* background-color: rgb(255,255,255, 0.5); */
  border: 1px solid var(--primary-color);
  background-color:  rgb(242, 242, 242,0.9)
}

.about h1 {
  color: var(--primary-color);
}
@media (max-width: 700px) { /* TEL */
  .about {
    margin-top: 3em;
    max-width: 95%;
  }
}

.about ul {
  list-style: initial;
  padding-left: 2em;
}

.about small {
  display: flex;
  margin: auto;
  margin-right: 0;
  max-width: 50%;
}

/* --------- Landing */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter: brightness(.5)
}

.landing {
  color: white;
  margin-top: 5em;
  text-align: center;
}

.aide {
  color: orange;
}


/* --------- Register */
.register, .login {
  font: inherit;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 1rem 2rem;
  width: 40%;
  border: 1px solid var(--primary-color);
  background-color: #f2f2f2;
}

@media (max-width: 700px) { /* TEL */
  .register {
    width: 80%;
  }
}

/* Forms */
.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: auto
}
.form input {
  margin: 0.5rem;
  background-color: white;
  padding: 0.4rem;
  padding-left: 1rem;
  border: 1px solid #ccc;
  font: inherit;
  flex-basis: 100%;
  width: 100%;
}

.doubleColumn {
  display: flex;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.form input[type="submit"] {
  background-color: var(--primary-color);
}

/* ----------- kkProfiles */

.profils-list {
  display: flex;
  color: black;
  margin-top: 1em;
  padding: 2rem;
  /* max-width: 90%; */
  width: 90%;
  height: 70vh;
  border: 1px solid var(--primary-color);
  background-color:  rgb(242, 242, 242,0.9);
  border: solid red;
}

.left {
  border: solid var(--success-color);
  flex: 1;
  text-align: center;
  padding: 1rem;
}

.left h1 {
  margin: auto;
  margin-bottom: 2rem;
}
.profiles {
  border: solid violet;
  overflow: scroll;
  flex: 1;
}
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}



.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}


/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}



.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}



.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}



.profile .bio {
  display: inline-block;
}

.profile-grid {
  display: grid;
  grid-template-areas:
    "top top"
    "about about"
    "exp edu"
    "github github";
  grid-gap: 1rem;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-top img {
  width: 250px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}

.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-exp {
  grid-area: exp;
}

.profile-edu {
  grid-area: edu;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}




/* Profile Page */


/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
  

/* Mobile Styles */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      "top"
      "about"
      "exp"
      "edu"
      "github";
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
  .profile .fa-user {
    display: none;
  }
}
